// colors
$primary: #05df9d;
$secondary: #9896dc;

$font-family-default: "Open Sans", sans-serif;

// @deprecated use $*-color instead
$label-title: $primary;
$label-value: #fff;
$label-per: $secondary;

$label-title-color: $label-title;
$label-value-color: $label-value;
$label-per-color: $label-per;

$label-title-font-size: 1em; 
$label-value-font-size: 1.5em; 
$label-per-font-size: 1em; 
 
// tooltip

// @deprecated use $tooltip-color instead
$tooltip: #f0f0f0;
$tooltip-border: #000000;
$tooltip-bg: #333333;
$tooltip-color: $tooltip;
$tooltip-border: 1px solid #000000;
$tooltip-border-radius: 5px;
$tooltip-padding: 4px;
$tooltip-z-index: 1000;

// divider
$divider-stroke: $secondary;
$divider-stroke-width: .1em;